.popup{
  position: fixed;
  top: 0;
  left: 0;
  background: #0a0c0d00;
  width: 100%;
  height: 100%;
  z-index: 9999;

  .model-popup{
    padding: 20px;
    background: #3f4a67;
    border-radius: 30px;
    position: fixed;
    top: 25%;
    left: 30%;
    width: 50%;
    z-index: 99999;
    .header-title{
      color: #FFFFFF;
    }
  }
}