.about{
  padding: 60px 80px;

  .items-abouts{
    text-align: center;

    .items{
      height: 100%;
      .icons{
        i{font-size: 90px; color:#005fb5;}
      }
      .title-card{
        color: #454545;
        font-size: 27px;
        margin: 15px 0;
      }
    }
  }

}
