.latest{
  padding: 50px;
}

.news{
  .card{
    transform: translateY(0);
    transition: all .5s;
    .card-title{
      font-size: 17px;
      color: #404040;
      transition: all .5s;
    }
    span{
      color:#c2c2c2;
      font-size: 13px;
    }
    &:hover{
      transform: translateY(-10px);
      transition: all .5s;
    }
  }
  &:hover{

    .card-title{
      color:#ffab03;
      transition: all .5s;
    }
  }
  //&:hover
}
