.title-header{
  h1{
    font-size: 44px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      width: 88px;
      height: 5px;
      background: #ffab03;
    }
  }
  p{
    letter-spacing: 2px;
    color: #666;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  .title-header{
    h1{
      font-size: 24px !important;
    }
  }
}
