.frame-content {
  transition: all 0.2s linear;
  &.sidebar-opened {
    margin-left: $sidebar_width;
  }
  &.sidebar-closed {
    margin-left: $sidebar_width_sm;
  }
}

@media (max-width: 1024px) {
  .frame-content {
    margin-left: 0px !important;
  }
}
