
nav .icons {
   ul{
     margin: 0!important;
     margin-right: 3rem !important;
     padding: 0!important;
     list-style: none;

     li {
       padding: 4px;
       a{
         background: #929292;
         color: #fff;
         font-size: 12px;
         padding: 4px 8px;
         border-radius: 100%;
         width: 64px;
         height: 25px;
         line-height: 25px;
         transition: all .5s;

         &:hover{transition: all .5s;}
       }
       .facebook:hover{ background: #3b5999; }
       .instagram:hover{ background: #e4405f; }
     }
   }
 }
 nav #infoDate .icon{
   position: relative;
   i{
     position: absolute;
     top:55%;
     font-size: 26px;
   }
 }
 nav #navbarNav li a{color: #666; &:hover{color: #005fb5}}

.header-mobile{
  background-color: #ffab03;
  position: relative;
  padding: 20px 0;

  &::before{
    background-color: #0085e2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 70%;
  }
  .header-mobile-title{
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 1.3;
    font-size: 18px;
    text-align: center;
    margin-left: 24%;
  }
  .close-btn{
    font-size: 25px;
    color: white;
  }
}
.header-top{
  .link-nav{
    //display: flex !important;
    left: -27% !important;
    top: 8px !important;
  }
}
.hamburger{
  color: white;
}

.link-form{
  .form-link{
    color: #666666;
  }

  &:first-child{
    position: relative;
    &::after{
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -13px;
      background: #b1b1b1;
    }
  }
}



@media only screen and (max-width: 993px) {
  .showNav{display: block}
  .hideNav{display: none}
  .aboutNav{display: none !important;}
  .logo{text-align: center !important}
}



