.header-cabinet-top{
  padding: 25px;
  background: #ffffff;
  border: 1px solid #dee2e6!important;
}

.navbar-cabinet{
  margin-top: 15px;
  .nav{

    li{
      cursor: pointer;
      transition: all .5s;
      padding: 15px 10px;
      text-align: center;
      border-right: 1px solid #80808030;

      &:last-child{border-right: none}
      &:hover{
        background: #ffab03;
        transition: all 0.5s;
        color: #ffffff;
      }
    }
  }


  .activeNav{
    background-color: #f8a500;
    color: #ffffff;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      top: 100%;
      left: 45%;
      width: 0;
      height: 0;
      border: 14px solid transparent;
      border-top-color: #f8a500;

    }
  }
}

.address{
  //border: 0.5px solid black;
  background: #e6e6e6ab;
}

.activeC{
  background: #ffffff;
}
.cursor-pointer{
  cursor: pointer;}
@media (max-width: 992px) {
  .navbar-cabinet li{
    border-right: none;
    border-bottom: 1px solid #80808030;
    &:last-child{border-bottom: none}
  }
  .activeNav::after{content: none !important}
}
