.intro {
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000a1;
    z-index: 0;
  }
  div{
    position: relative;
    z-index: 9;
    font-size: 34px;
    color: #ffffff;

    h2{font-size: 40px;  color: #ffffff; letter-spacing: 9px;}
    span{
      color: #ffab03;
    }
  }

  .wrap{
    height: 65px;
    width: 100%;
    position: relative;
    background: hsla(0,0%,100%,.89);
    border-radius: 40px;
    padding: 0 33px;

    select{
      background: none;
      border: none;
      width: 100%;
      height: 100%;
      font-size: 17px;
      outline: none;
    }

    .inputWeight{
      height: 100%;
      width: 100%;
      position: relative;
      input{
        width: 100%;
        height: 100%;
        outline: none;
        border: 0;
        background: none;
        font-size: 23px;
      }
      .btns{
        position: absolute;
        right: 80px;
        top: 50%;
        transform: translateY(-50%);

        i{font-size: 25px}

      }
      .weight{
        position: absolute;
        right: 10px;
        top: 40%;
        transform: translateY(-50%);
        padding-left: 8px;

      }
      }

    input[type=number]::-webkit-inner-spin-button{
      //display: none
      margin-right: 25%;
      opacity: 1;
    }
    input::placeholder{
      font-size: 15px;
    }
  }

  .priceDelivery{
    background-color: #ffab03;
    .message{
      flex: 1;

      text-align: left;
      font: 16px/19px Roboto-Regular;
      color: #fff;
      padding-left: 0;
      font-size: 19px;
      padding-top: 22px;
    }
    .value{
      padding: 0 20px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 65px 65px 0;
      background: #c08000;
      font: 20px/24px Roboto-Regular;
      color: #fff;
      position: absolute;
      width: 30%;
      top: 0;
      right: 0;
    }
  }

  .hidden{opacity: 0}

  }

