.stores{

  .country{
    cursor: pointer;
    padding: 20px;
    transition: all .3s;
    border: 1px solid transparent;
    &:hover{
      border: 1px solid gray;
      transition: all .3s;
    }
  }

  .stores-country{
    padding-bottom: 80px;
    .store{
      height: 100%;

      .item{
        height: 150px;
        width: 150px;
        a{
          display: block;
          position: relative;
          .wrapper-img{
            background-color: #fff;
            height: 143px;
            img{
              position: relative;
            }
          }
          p{
            padding: 7px 0;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            background: #ffab03;
            text-overflow: ellipsis;
            text-align: center;
            white-space: nowrap;
          }
          &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #00000096;
            opacity: 0;
            transition: all .8s;
          }
          &:hover::after{
            content: "";
            opacity: 1;
            transition: all .8s;
          }
        }
      }
    }
  }

  .country-store{
    .active{
      background: #ffffff;
      border: 1px solid #cacaca !important;
    }
  }
}
